body {
  background: #4e012a;
}

.container {
  max-width: 500px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: #830146;
  max-width: 500px;
}
.todos li {
  background: #810246;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
