body {
  background: #08003f;
}

.container {
  max-width: 500px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(2, 10, 133, 0.2);
  max-width: 500px;
}
.todos li {
  background: #100079;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
